{% extends 'base.html.twig' %}

{% block title %}Hello EntityController!
{% endblock %}

{% block body %}
	<div class="texte">
		<p>Chaque clique sur + ou - ajoute ou supprime un élément de l'entité (valeur enregistré en BDD)
		</p>
	</div>


	<ul>
		{% for entity in entitys %}
			<div class="texte">
				<li>{{ entity.title }}
					x
					{{ entity.number }}

					<ul>
						{% for i in range(1 ,entity.number) %}
							<li>
								<p>{{ entity.title }}</p>
							</li>
						{% endfor %}
						<a href="{{ path('addone', {id: entity.id}) }}"><img src="https://icons.iconarchive.com/icons/awicons/vista-artistic/24/add-icon.png"></a>
						<a href="{{ path('removeone', {id: entity.id}) }}"><img src="https://icons.iconarchive.com/icons/icojam/blue-bits/32/math-minus-icon.png"></a>
					</ul>
				</li>
			</div>
		{% endfor %}

	</ul>
</div>{% endblock %}
