{% extends 'base.html.twig' %}

{% block title %}Block Title{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Name of Controller : {{ controller_name }}</h1>

    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/project/src/Controller/ShowController.php'|file_link(0) }}">src/Controller/ShowController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/project/templates/show/index.html.twig'|file_link(0) }}">templates/show/index.html.twig</a></code></li>
    </ul>
</div>

{% endblock %}
