{% extends 'base.html.twig' %}

{% block title %}Mini projet découverte Symfony et Docker
{% endblock %}

{% block body %}


	<div class="texte">


		<p>
			Avec ce petit projet j'ai pu découvrir :</p>
		<ul>
			<li>Le framework php Symfony</li>
			<li>L'outil de conteneur d'application Docker</li>
		</ul>
	</div>

	<div class="texte">

		<h2>Symfony</h2>

		<p>
			Pour la partie symfony j'ai simplement créé une entité que je modifie a l'aide de bouton sur cette
			<a class="link" href="{{ path('index') }}">page</a>
		</p>
	</div>

	<div class="texte">

		<h2>Docker</h2>

		<p>
			Pour la partie docker, en m'inspirant de la
			<a class="link" href="https://docs.docker.com/" target="_blank">documentation technique</a>
			Et également de différents site et blog de différent indépendant. Pour pouvoir construire mon propre environnement de développement avec mes différents conteneurs. Je n'avais jamais utilisé cet outil avant et je trouve qu'il est extrêmement utile et important. Il permet de gérer très rapidement et simplement toutes les dépendances que l'on retrouve autour d'un projet web. Le serveur web, la base de donnée, le langage de développement (php ici). Il permet réellement de déployer une application très rapidement. Un conteneur est figé il sera le même de partout donc il fonctionne tout le temps sur toutes les plateformes.
		</p>
	</div>

{% endblock %}
