*{
    margin: 0;
    padding: 0;
}

#title{
    text-align: center;
    padding: 30px;
}

.texte{
    width: 450px;
    text-align: justify;
    padding: 20px;
    margin: 0 auto;
}
.corps{
    width: 650px;
    margin: 0 auto;
}
.texte ul{
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.link{
    color: red;
}